<html>
<head>
	<title>Steven Huynh</title>
</head>
<body>
<div class="container-fluid" id='indexone'>
	    <div class="col-md-12">
	    <a href='/' class="logo" id="main" style="display: none;"> &lt; Projects &gt; </a>

        <div class="col-md-3 block">
            <a href="#"><i class="fa fa-bars fa-4x" id="contacts"></i></a>
            <div class="contacts align-left text-center" style="display: none;">
                <div class="avatar"></div>
                <h3 class="text-center">About Me</h3><hr>
                <p> &nbsp;&nbsp; I've been into technology ever since I was young. I realized coding was what I wanted to do while I was working towards becoming a physician assistant. I enjoy playing tennis and Dota 2 during my freetime.  
                </p>
                <hr>
                <h4><i>StevensPortfolio@Outlook.com</i> </h4>
                <a href="https://www.linkedin.com/in/shuynh2" target="_blank">
                    <i class="fa fa-linkedin-square fa-3x i left"></i>
                </a>
                <a href="https://github.com/steven5210" target="_blank">
                    <i class="fa fa-github-square fa-3x i"></i>
                </a>
            </div>
        </div> <!-- End col-md-3 Block -->
        <div class='col-md-2 block' id='contact_me'>
            <a href="#"><i class="fa fa-envelope-o fa-3x i"></i></a>
        </div>
        <div class="main">
            <div class="col-md-6 main text-center" style='margin-top: 199px;'>

                <h1>Steven Huynh</h1>
                <h3>Full Stack Web Developer</h3>
                <a href="#" id="projects"><h2> &lt; Projects &gt; </h2></a>
            </div>
        </div> <!--  end of row -->
    </div> <!-- End of col-md-12 -->
</div> <!-- Container-Fuild-->

<div class="container">
    <section id="mywork" class="project">
        <div class="row">
<!-- Project 1 -->
            <div class="portfolio-grid">
                <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="ih-item square effect4"><a href="https://istock-dojo.herokuapp.com">
                        <div class="img"><img src="/assets/iStock.png" alt="img"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>iStock | PHP</h3>
                          <p>eCommerce website. Click to check it out!</p>
                    </div></a></div>
                </div>

                <!-- <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <a href="#" data-target="#portfolio1" class="thumbnail hcaption">
                      <img src="/assets/iStock.png" alt="Portfolio" title="Desktop Apps" />
                    </a>
                    <div id="portfolio1" class="hide-none hover-text">
                      <h5>Desktop Apps</h5>
                      <p>UI/UX Design</p>
                        <a class="nivo-light" data-lightbox-gallery="portfolio" href="istock-dojo.herokuapp.com" title="Desktop Apps">
                            <i class="mdicon fullscreen"></i>
                        </a>
                    </div>
                </div> -->
<!-- Project 2 -->
                <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="ih-item square effect4"><a href="https://local-organics.herokuapp.com/">
                        <div class="img"><img src="/assets/localorganics.png" alt="LocalOrganics"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Local Organics | Ruby On Rails</h3>
                          <p>Search for local farmers markets and users can leave reviews about their finds!</p>
                    </div></a></div>
                </div>
<!-- Project 3 -->
                <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="ih-item square effect4"><a href="https://github.com/steven5210/FoodGroups">
                        <div class="img"><img src="/assets/foodgroups.png" alt="FoodGroups"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Food Groups | Javascript</h3>
                          <p>Never eat alone again! Eat with others that share similiar interests/diets.</p>
                    </div></a></div>
                </div>
<!-- Project 4 -->
                <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="ih-item square effect4" style="height: 100%;"><a href="https://github.com/steven5210/FitHubb">
                        <div class="img"><img src="/assets/iStock.png" alt="FitHubb"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>FitHubb | iOS/xCode</h3>
                          <p>Brings people together who share a similar goal of getting fit based on their locations.</p>
                    </div></a></div>
                </div>
<!-- Project 5 -->
                <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="ih-item square effect4" style="height: 100%;"><a href="https://github.com/steven5210/Tipster">
                        <div class="img"><img src="/assets/Tipster.PNG" alt="Tipster"></div>
                        <div class="mask1"></div>
                        <div class="mask2"></div>
                        <div class="info">
                          <h3>Tipster | iOS/xCode</h3>
                          <p>Simple tipping app where you can set the group size and percentage.</p>
                    </div></a></div>
                </div>
<!-- Project 6                 -->
<!--                 <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                    <a href="#" data-target="#portfolio6" class="thumbnail hcaption">
                      <img src="assets/images/portfolio/portfolio6-thumb.jpg" alt="Portfolio" title="Weather Apps" />
                    </a>
                    <div id="portfolio6" class="hide-none hover-text">
                      <h5>Weather Apps</h5>
                      <p>UI/UX Design</p>
                        <a class="nivo-light" data-lightbox-gallery="portfolio" href="assets/images/portfolio/portfolio6.jpg" title="Weather Apps">
                            <i class="mdicon fullscreen"></i>
                        </a>
                    </div>
                </div>    -->
            </div> <!-- Portfolio grid -->
        </div> <!--  Row end -->
    </section>  
</div> <!-- container -->

<section id="contact">
    <div class="container">
        <div class="row">
            <h2 class="heading wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Contact Me</h2>
            <div class="col-md-12">
                <form role="form" id="contact-form" class="contact-form" action='/contact' method='post'>
                    <input type ='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
                    <div class="row">
                        <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name">
                        </div>
                    </div>
                        <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                  <button type="submit" id='contact_btn' class="btn btn-success pull-right wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">Send a message</button>
                  </div>
                  </div>
                </form>
                <div id='loader' class="cssload-loader">Sending</div>
            </div>  
        </div> <!-- Row -->
    </div> <!-- Container -->
</section>

<div class="fixed footer"></div> 
<%= javascript_include_tag('index.js') %> 
<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script>
</body>
</html>