// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-size: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.75) 100%), url("/assets/hipster.jpg");
}

@import url("https://fonts.googleapis.com/css?family=Sail");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@font-face {
  font-family:draftDisplay; 
  src: url("/assets/Draft_Display.ttf")};
@font-face {
  font-family:mensch;
  src: url("/assets/mensch-inline.ttf")};
@font-face {
  font-family:sullivan;
  src: url("/assets/Sullivan-Regular.otf")};

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0px red solid; }

.main {
  margin: auto;
  height: auto;  }
  .main a:hover {
    text-decoration: none; }
  .main h1 {
    font: 500 60px/0.5 'sullivan';
    margin: 50px 0px;
    color: white; }
  .main h2 {
    font: 400 60px/0.5 'mensch';
    margin: 50px 50px;
    color: white; }
    .main h2:hover {
      color: #003366; }
  .main h3 {
    font: 400 45px/0.5 'mensch';
    margin: 20px -100px;
    color: white; }
.avatar {
    background-image: url("/assets/Steven_Huynh.jpg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
#contact_me {
  float: right;
  text-align: right;
}
.fixed {
  position: fixed;
  /* works fine on ios */
  width: 100%;
  height: 10px; }

.fixed.footer {
  bottom: 0;
  left: 0; }

<!-- .thumbnail {
  width: 250px;
  background-color: #0D7B6C;
   }
  .thumbnail img {
    width: 250px;
    height: 250px;
   } -->
.img {
  width: 100%;
  height: 100%;
}

.info-project {
  margin-top: -108px;
  margin-left: 4px;
  width: 95%;
  height: 85px;
  background: #316299;
  position: relative;
  border-radius: 0 0 15px 15px; }
  .info-project h2 {
    padding-top: 5px;
    color: #fff; }
  .info-project p {
    font-size: 16px; }
    .info-project p a {
      color: #fff; }
.contacts a:hover {
  text-decoration: none; }
.contacts h3, .contacts h4 {
  color: white; }
.contacts p {
  font-size: 17px; 
  color: white;}
#contact {
  margin-top: 100px;
}
  #contact .row {
  margin-right: 0px;
}
  #contact h2 {
   color: white;
}

.btn .btn-default {
  width: 200px;
  height: 60px;
  padding: 0px; }

.fa {
  color: white; 
  margin-top: 20px; }
  .fa:hover {
    color: white; }

.fa.fa-th-list {
  margin: 25px 25px; }

.col-md-3:nth-child(4n+1) {
  clear: right; }

.logo {
  font: 400 60px/0.5 'mensch';
  margin: 35px 4% 35px;
  vertical-align: middle;
  color: white; }
  .logo:hover {
    color: #316299;
    text-decoration: none; }

.portfolio-grid .thumbnail{margin-bottom:30px;border-radius:0;border:none;padding:0}.portfolio-grid .thumbnail img{height:213px;border:none;border-radius:0;padding:0}.drop-panel{padding:0!important}.portfolio-grid .hide-none{display:none;height:213px!important;background:rgba(66,134,245,.9)}.portfolio-grid .hover-text{text-align:center;padding-top:55px}.portfolio-grid .hover-text h5{font-size:24px;color:#fff;font-weight:300;line-height:36px;margin-bottom:0}.portfolio-grid .hover-text p{font-size:18px;color:#fff;font-weight:300;line-height:30px}.portfolio-grid .hover-text a{color:#fff}.portfolio-grid .hover-text a i{font-size:48px}.portfolio-grid .hover-text a:hover{color:#e91e63}.social li a{font-size:24px;color:#fff}.social li a .mdicon{font-size:48px;line-height:48px}.social li a:hover{color:#e91e63}#skills{background:#fff}.progress-bar-success{background-color:#259b24}.progress-bar-info{background-color:#3f51b5}.progress-bar-warning{background-color:#ff9800}.progress-bar-danger{background-color:#e51c23}.contact-form .textarea{min-height:220px;resize:none}#info{background:#343434;color:#fff}#info h4{margin-top:0;font-size:26px;color:#fff;font-weight:300}#info p{color:#fff;font-size:14px}footer{padding:20px 0;background:#333;width:100%;float:left}


// Loading Bar

.cssload-loader {
  width: 244px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size:18px;
  color: rgb(206,66,51);
  letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: rgb(206,66,51);
  position: absolute;
  animation: cssload-load 0.81s infinite alternate ease-in-out;
    -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
  top: 0;
}
.cssload-loader::after {
  bottom: 0;
}



@keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

@-o-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

@-ms-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

@-webkit-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

@-moz-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

/*# sourceMappingURL=custom.css.map */
